<div id="home_box">
	
<div class="left">
<%= link_to 'Create a recruiter account', recruiter_sign_up_path %>
<br>
<%= link_to 'Sign in to your recruiter account', recruiter_log_in_path 
%>
<br>
<%= link_to 'List of Users...For Development Purposes', users_path %>
	
</div>

<div class="right">
<%= render 'sessions/login' %>
</div>

<div class="right" id="verticalLine">
<%= (image_tag 'verticalLine.png', :width => "1px", :height => "200px") %>
</div>	

<div class="right">
<%= render 'users/form' %>
</div>


</div>