<%= form_for([@user, @resume, @section, @item]) do |f| %>

  <% if @item.errors.any? %>

    <div id="error_explanation">

      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this resume item from being saved:</h2>


      <ul>

      <% @item.errors.full_messages.each do |msg| %>

        <li><%= msg %></li>

      <% end %>

      </ul>

    </div>

  <% end %>


  
  	
  <div class="left">

    <%= f.label :position_title %><br />

    <%= f.text_field :positiontitle %>

  </div>
  <div class="left">

    <%= f.label :organization %><br />

    <%= f.text_field :organization %>

  </div>
  <div class="left">

    <%= f.label :location %><br />

    <%= f.text_field :location %>

  </div>
  
  <div class="clear"></div>
  
  <div class="left">

    <%= f.label :start_month %><br />

    <%= f.text_field :startMonth %>

  </div>
  <div class="left">

    <%= f.label :start_season %><br />

    <%= f.text_field :startSeason %>

  </div>
  <div class="left">

    <%= f.label :start_year %><br />

    <%= f.text_field :startYear %>

  </div>
  
  <div class="clear"></div>
  
  <div class="left">

    <%= f.label :end_month %><br />

    <%= f.text_field :endMonth %>

  </div>
  <div class="left">

    <%= f.label :end_season %><br />

    <%= f.text_field :endSeason %>

  </div>
  <div class="left">

    <%= f.label :end_year %><br />

    <%= f.text_field :endYear %>

  </div>
  
  <div class="clear"></div>
  
  <div class="left">

    <%= f.label :description %><br />

    <%= f.text_area(:description, :cols=>80, :rows=>12) %>

  </div>
  
  <div class="clear"></div>
  
  <div class="left">

    <%= f.label :order %><br />

    <%= f.number_field :order %>

  </div>
  
  <div class="clear"></div>
  
  <div class="left">

    <%= f.label :link %><br />

    <%= f.text_field :link %>

  </div>
  
  <div class="clear"></div>
  
  <div class="actions">

    <%= f.submit %>

  </div>

<% end %>
