</p>


<p>

  <b>Resume Name:</b>

  <%= @resume.resumeName %>
</p>





<% @resume.sections.sort_by {|obj| obj.order}.each do |section| %>
<table>	
<tr><td><b><%= section.name %></b></td></tr>
<% section.items.sort_by {|obj| obj.order}.each do |resumeItem| %>
  <tr valign="top">
     <td>
       <b><%= resumeItem.positiontitle %> </b><br>
       
       <% if (!(resumeItem.organization=="")) &&  (!(resumeItem.location==""))%>
       			<%= resumeItem.organization%>, <i><%= resumeItem.location %></i><br>
       <% elsif !(resumeItem.organization=="")%>
       			<%= resumeItem.organization %><br>
       <% elsif !(resumeItem.location=="")%>
       			<%= resumeItem.location %><br>
       <% end %>
       
       
       <% hasStart = !(resumeItem.startMonth=="") || !(resumeItem.startSeason=="") || !(resumeItem.startYear==nil)%>
       <% hasEnd = !(resumeItem.endMonth=="") || !(resumeItem.endSeason=="") || !(resumeItem.endYear==nil) || (resumeItem.present==true)%>

       <%=
       if resumeItem.startMonth==""
       	resumeItem.startSeason
       else
       	resumeItem.startMonth
   	   end
       %> 
       <%= resumeItem.startYear %>
       
       <% if hasStart && hasEnd %>
       	-
       <% end %>
       
       <%=
       if resumeItem.endMonth==""
       	resumeItem.endSeason
       else
       	resumeItem.endMonth
   	   end
       %> 
       <%= resumeItem.endYear %>
       <% if (resumeItem.present==true)%>
       		Present
       <% end %>
       
       <% if hasStart || hasEnd %>
       	<br>
       <% end %>
       
       <% if !(resumeItem.description=="")%>
       		<%= resumeItem.description %><br>
       <% end %>
       <br>
     </td>
     <td>
       
<%= link_to 'Edit', edit_user_resume_section_item_path(@user, @resume, section, resumeItem) %>
<br>  
<%= link_to 'Delete', [@user, @resume, section, resumeItem], :confirm => 'Are you sure you want to delete this item?' , :method => :delete %>
     </td>
  </tr>
  

<% end %>

<tr><td>
	<%= link_to "Add a New #{section.name} Item", new_user_resume_section_item_path(@user,@resume, section) %>
</td></tr>

</table>
<br>
<% end %>

<%= link_to 'Add a New Resume Section', new_user_resume_section_path(@user,@resume) %>
<br><br>
<%= link_to 'Back to Resume List', user_path(@user) %>
