<div id="outermostWrapper">

<%= link_to 'Back to Resume List', user_path(@user) %>
<br>
<%= link_to 'Edit Personal Data Associated with this Resume', edit_user_resume_path(@user, @resume) %>

<div id="resume_title">
<%= @resume.resumeName %>
</div>

<div id="resume_portal" class="sortable_section">
	<div id="resume_name">
	<%= @resume.firstName%>
	<%= @resume.middleNames%>
	<%= @resume.lastName%>
	</div>
	<div id="resume_email"><%= @resume.email %></div>
	<div id="resume_address">
		<%= returnString=@resume.street
		if !(@resume.city=="")
			if !(returnString=="")
				returnString<<(", ")
			end
			returnString<<@resume.city
		end
		if !(@resume.state=="")
			if !(returnString=="")
				returnString<<(", ")
			end
			returnString<<@resume.state
		end
		returnString
		%>
	</div>
	<div class="clear"></div>
	<div id="resume_phone"><%= @resume.phone %></div>
	<div id="resume_website"><%= @resume.website %></div>
	<div class="clear"></div>
	
<% @resume.sections.sort_by {|obj| obj.order}.each do |section| %>
<div class="resume_section">
<h3 class="section_name"><%= image_tag 'moveicon.png', {:height => 10, :class => 'handle_section' } %><span class="edit"><%= section.name %></span></h3>
<div class="section_body sortable_item">
<% section.items.sort_by {|obj| obj.order}.each do |resumeItem| %>
	<div class="section_item">
		<% hasStart = !(resumeItem.startMonth=="") || !(resumeItem.startSeason=="") || !(resumeItem.startYear==nil)%>
       <% hasEnd = !(resumeItem.endMonth=="") || !(resumeItem.endSeason=="") || !(resumeItem.endYear==nil) || (resumeItem.present==true)%>

	  <div class="resume_dates">
		   <%=
		   if resumeItem.startMonth==""
		   	resumeItem.startSeason
		   else
		   	resumeItem.startMonth
		   end
		   %> 
		   <%= resumeItem.startYear %>
		   
		   <% if hasStart && hasEnd %>
		   	-
		   <% end %>
		   
		   <%=
		   if resumeItem.endMonth==""
		   	resumeItem.endSeason
		   else
		   	resumeItem.endMonth
		   end
		   %> 
		   <%= resumeItem.endYear %>
		   <% if (resumeItem.present==true)%>
		   		Present
		   <% end %>
		   
		   <% if hasStart || hasEnd %>
		   	<br>
		   <% end %>
		   
	  </div>
	  <div class="handle_item"><%= image_tag 'arrowmoveicon.png', {:height => 10, :class => 'handle_item' } %></div>
       <span class="bold edit"><%= resumeItem.positiontitle %> </span>
       
       	<br>
	  
	<% if !(resumeItem.link=="")%>
	    <% divName = section.order.to_s+"_"+resumeItem.order.to_s %>
		<div id="<%= divName %>" class="linkArrow">  <%= image_tag 'arrow.png', {:height => 45} %>  </div>
		<script type="text/javascript">
		document.getElementById("<%= divName %>").onmouseover = loadLink("<%= resumeItem.link %>", "<%= divName %>");
		</script>
	<% end %>
	
	  

       <% if (!(resumeItem.organization=="")) &&  (!(resumeItem.location==""))%>
       			<%= resumeItem.organization%>, <i><%= resumeItem.location %></i><br>
       <% elsif !(resumeItem.organization=="")%>
       			<%= resumeItem.organization %><br>
       <% elsif !(resumeItem.location=="")%>
       			<%= resumeItem.location %><br>
       <% end %>
       
       
		   
		   <% if !(resumeItem.description=="")%>
		   		<span class="edit_area"><%= resumeItem.description %></span><br>
		   <% end %>
  
      
<%= link_to 'Edit', edit_user_resume_section_item_path(@user, @resume, section, resumeItem) %>
<br>  
<%= link_to 'Delete', [@user, @resume, section, resumeItem], :confirm => 'Are you sure you want to delete this item?' , :method => :delete %>


</div>
<% end %>



<%= link_to "Add a New #{section.name} Item", new_user_resume_section_item_path(@user,@resume, section) %>
</div>
</div>
<% end %>



<%= link_to 'Add a New Resume Section', new_user_resume_section_path(@user,@resume) %>
</div>

<div id="linkArrowFrame"></div>

<div id="linkFrameWrapper">
<div id="linkFrame"></div>
</div>

<div class="clear"></div>

<div id="navigation">
<%= link_to 'Back to Resume List', user_path(@user) %>
</div>


</div>
