<h1>Listing recruiters</h1>

<table>
  <tr>
    <th>Company</th>
    <th>Username</th>
    <th>Email</th>
    <th>Passwordhash</th>
    <th>Passwordsalt</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @recruiters.each do |recruiter| %>
  <tr>
    <td><%= recruiter.company %></td>
    <td><%= recruiter.username %></td>
    <td><%= recruiter.email %></td>
    <td><%= recruiter.passwordHash %></td>
    <td><%= recruiter.passwordSalt %></td>
    <td><%= link_to 'Show', recruiter %></td>
    <td><%= link_to 'Edit', edit_recruiter_path(recruiter) %></td>
    <td><%= link_to 'Destroy', recruiter, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Recruiter', new_recruiter_path %>
