<!DOCTYPE html>

<html>

<head>

  <title>OneDoss</title>

  <%= stylesheet_link_tag    "application" %>
  <%= stylesheet_link_tag     "style" %>

  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>
  <script>
	$(function() {
		$( ".sortable_section" ).sortable({
			placeholder: "ui-state-highlight",
			start: function(event,ui) {$(ui.item).children(".section_body").hide()},
			stop: function(event,ui) {$(ui.item).children(".section_body").slideDown()},
			axis: 'y',
			forceHelperSize: true,
			cursor: 'move',
			handle: '.handle_section'
		});
		$( ".sortable" ).disableSelection();
		
		$( ".sortable_item" ).sortable({
			placeholder: "ui-state-highlight",
			axis: 'y',
			tolerance: 'pointer',
			cursor: 'move',
			handle: '.handle_item'
		});
		$( ".sortable_item" ).disableSelection();
	});
	$(document).ready(function() {
	    $('.edit').editable('http://www.example.com/save.php');
	     
	 	$('.edit_area').editable('http://www.example.com/save.php', { 
	         type      : 'textarea',
	         cancel    : 'Cancel',
	         submit    : 'OK',
	         indicator : '<img src="img/indicator.gif">',
	         tooltip   : 'Click to edit...'
	     });
     });
	</script>


</head>

<body>
	
<div id="headerWrapper">
<div id="header">
<%= link_to (image_tag 'simpleLogo6.png', :height => "28px"), root_url %>
<div id="userNav">
  <% if current_user %>
    <b><%= current_user.username %></b><br>
    <%= link_to "Log out", log_out_path %>
  <% else %>
    <%= link_to "Sign up", sign_up_path %> or
    <%= link_to "Log in", log_in_path %>
  <% end %>
</div>
</div>
<div id="headerBorder">
<%= (image_tag 'headerBorder.png', :width => "100%", :height => "3px") %>
</div>
</div>


<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash_#{name}" %>
<% end %>


<%= yield %>


</body>

</html>
