<!DOCTYPE html>

<html>

<head>

  <title>OneDoss</title>

  <%= stylesheet_link_tag    "application" %>
  <%= stylesheet_link_tag     "style" %>

  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>
  <script>
	$(function() {
		$( ".sortable" ).sortable({
			placeholder: "ui-state-highlight",
			axis: 'y',
			tolerance: 'pointer',
			revert: true,
			cursor: 'move'
		});
		$( ".sortable" ).disableSelection();
	});
	</script>


</head>

<body>
<div id="header">
	
<div class="left">	
<%= image_tag('logo.png')%>
</div>

<div class="right" id="user_nav">
  <% if current_user %>
    <b><%= current_user.username %></b>
    <%= link_to "Log out", log_out_path %>
  <% else %>
    <%= link_to "Sign up", sign_up_path %> or
    <%= link_to "Log in", log_in_path %>
  <% end %>
</div>

</div>

<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash_#{name}" %>
<% end %>


<%= yield %>


</body>

</html>
